    <div class="uk-container uk-container-expand uk-margin-medium-top">
        <ul class="uk-nav uk-nav-default">
            <li><a routerLink="/dashboard"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Dashboard</a></li>
            <li class="uk-nav-divider"></li>
            <li><a routerLink="/features"><span class="uk-margin-small-right" uk-icon="icon: tag"></span>Features</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: bolt"></span>Bugs</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span>Tasks</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: refresh"></span>Chores</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: users"></span>Team</a></li>
        </ul>
    </div>

