<div class="left-toolbar">
    <div class="uk-container uk-container-expand uk-margin-medium-top">
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Dashboard</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: bell"></span>What's new</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: list"></span>Tasks</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Boards</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: users"></span>Team</a></li>
        </ul>
    </div>
</div>

