@import '../../../node_modules/uikit/src/scss/variables-theme.scss';

.left-toolbar {
    width: 15rem;
    height: 100%;
    position: fixed;
    top: 5rem;
    bottom: 0;
    border-right: 1px solid $global-muted-background;
}
