@import '../sass/variables';

.main-content {
    padding-top: 7rem;
    margin-left: 15rem;
};

.left-toolbar {
    width: 15rem;
    height: 100%;
    position: fixed;
    top: 5rem;
    bottom: 0;
    border-right: 1px solid $global-muted-background;
}
